@model CardsAndDecks.Models.DeckDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeckDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add a Card", "Create", "Assignment", new { id = Model.Id, isCard = false }, null)
</p>

<table class="table">
    @foreach (var item in Model.AssignmentList)
    {
        <tr>
            <td>
                @Html.DisplayFor(c => item.Card.Name)
            </td>
            <td>
                @Html.DisplayFor(c => item.Card.TemplateName)
            </td>
            <td>
                @Html.ActionLink("Remove", "Delete", "Assignment", new { assignmentId = item.Id, fromCard = false, objId = Model.Id }, null)
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
