@model CardsAndDecks.Models.DeckDetail

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <h4>Card List</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }

</div>
<p>
    @Html.ActionLink("+ Add a Card", "Create", "Assignment", new { id = Model.Id, isCard = false }, null)
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Card")
        </th>
        <th>
            @Html.DisplayName("Template")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.AssignmentList)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Card.Name, "Details", "Card", new { id = item.CardId }, null)
            </td>
            <td>
                @Html.DisplayFor(c => item.Card.TemplateName)
            </td>
            <td>
                @Html.ActionLink("Remove", "Delete", "Assignment", new { assignmentId = item.Id, fromCard = false, objId = Model.Id }, null)
            </td>

        </tr>
    }
</table>

<p>
    @Html.ActionLink("Back to Deck List", "Index") |
    @Html.ActionLink("Edit Deck Name", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete Deck", "Delete", new { id = Model.Id })
</p>
