@model IEnumerable<CardsAndDecks.Models.DeckDetail>

@{
    ViewBag.Title = "Index";
}

<h2 class="page-header"><b>Decks</b></h2>


<p>
    @Html.ActionLink("+ New Deck", "Create", null, new { @class = "btn btn-info" })
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table table-striped">

    @foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.Id)
        <tr>
            <td>
                <b>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</b>
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class="btn btn-danger"})
            </td>
        </tr>
    }

</table>
