@model IEnumerable<CardsAndDecks.Models.DeckDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Decks</h2>

<p>
    @Html.ActionLink("+ New Deck", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.Id)
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
