@model CardsAndDecks.Models.AssignmentViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Deck Assignment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DeckId)
        @Html.HiddenFor(model => model.CardId)
        @Html.HiddenFor(model => model.IsCard)

    </div>
}

@if (Model.IsCard)
{
    <h4>Select Decks to Add Card to</h4>
    <table class="table">

        @foreach (var item in Model.DeckList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("+ Add", "CreateAssignment", new { deckId = item.Id, cardId = Model.CardId, isCard = true })
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink("Back to Card", "Details", "Card", new { id = Model.CardId }, null)
    </div>
}
else
{
    <table class="table">
        @foreach (var item in Model.CardList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TemplateName)
                </td>
                <td>
                    @Html.ActionLink("+ Add", "CreateAssignment", new { deckId = Model.DeckId, cardId = item.Id, isCard = false })
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink("Back to Deck", "Details", "Deck", new { id = Model.DeckId }, null)
    </div>
}

@if (TempData.ContainsKey("SaveAdd"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveAdd"]
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
