@model CardsAndDecks.Models.AssignmentViewModel

@{
    ViewBag.Title = "Create";
}

@Html.HiddenFor(model => model.DeckId)
@Html.HiddenFor(model => model.CardId)
@Html.HiddenFor(model => model.IsCard)
<hr />
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
@if (Model.IsCard)
{
    <div class="page-header">
        <h2><b>Deck Assignment</b></h2>
        <h4>Add <span style="color: red;">@Model.CardName</span> to which decks?</h4>
    </div>
    <table class="table table-hover">

        @foreach (var item in Model.DeckList)
        {
            <tr>
                <td>
                    <b>@Html.ActionLink(item.Name, "Details", "Deck", new { id = item.Id }, null)</b>
                </td>
                <td>
                    @Html.ActionLink("+ Add", "CreateAssignment", new { deckId = item.Id, cardId = Model.CardId, isCard = true }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink($"Back to {Model.CardName}", "Details", "Card", new { id = Model.CardId }, new { @class = "btn btn-default" })
    </div>
}
else
{
    <div class="page-header">
        <h2><b>Deck Assignment</b></h2>
        <h4>Select Cards to Add to <span style="color: red;">@Model.DeckName</span></h4>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Card")
                </th>
                <th>
                    @Html.DisplayName("Template")
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model.CardList)
        {
            <tr>
                <td>
                    <b>@Html.ActionLink(item.Name, "Details", "Card", new { id = item.Id }, null)</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TemplateName)
                </td>
                <td>
                    @Html.ActionLink("+ Add", "CreateAssignment", new { deckId = Model.DeckId, cardId = item.Id, isCard = false }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink($"Back to {Model.DeckName}", "Details", "Deck", new { id = Model.DeckId }, new { @class = "btn btn-default" })
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
