@model CardsAndDecks.Models.TemplateSimple

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TemplateSimple</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

<table class="table">
    @foreach (var item in Model.PropertyList)
    {
        <tr>
            <td>
                @Html.DisplayFor(c => item.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(c => item.PropertyType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "TemplateProperty", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
