@model CardsAndDecks.Models.TemplateSimple

@{
    ViewBag.Title = "Details";
}

<div class="page-header">
    <h2><b>@Model.Name Template </b><a href="~/Template/Edit/@Model.Id" class="btn btn-default">Edit</a></h2>
    <h4>Category: N/A</h4>
</div>

<div>
    @Html.HiddenFor(model => model.Id)
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-4">Property Name</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.PropertyList)
    {
        if (item.PropertyName != "Name")
        {
            <tr>
                <td class="col-md-4">
                    @if (item.PropertyType == 0)
                    {
                        <small style="color: red;">Aa</small>
                    }
                    else
                    {<small style="color: red;">#</small>}
                    <b>@Html.DisplayFor(c => item.PropertyName)</b>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "TemplateProperty", new { id = item.Id }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    }
</table>

<p>
    @Html.ActionLink("Delete Template", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Back to Template List", "Index", null, new { @class = "btn btn-default" })
</p>
