@model CardsAndDecks.Models.CardDetail

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

@Html.HiddenFor(model => model.TemplateId)
<div>
    <h4>@Model.TemplateName</h4>
    <hr />
    @if (TempData.ContainsKey("SaveEdit"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveEdit"]
        </div>
    }
</div>

<table class="table">
    @foreach (var item in Model.PropertyList)
    {
        if (item.PropertyName != "Name")
        {
            <tr>
                <td>
                    @Html.DisplayFor(c => item.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(c => item.Value)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "CardProperty", new { id = item.Id }, null)
                </td>
            </tr>
        }
    }
</table>
<h4>Decks</h4>
<p>
    @Html.ActionLink("+ Add a Deck", "Create", "Assignment", new { id = Model.Id, isCard = true }, null)
</p>
<table class="table">
    @foreach (var item in Model.AssignmentList)
    {
        <tr>
            <td>
                @Html.DisplayFor(c => item.Deck.Name)
            </td>
            <td>
                @Html.ActionLink("Remove", "Delete", "Assignment", new { assignmentId = item.Id, fromCard = true, objId = Model.Id }, null)
            </td>
        </tr>
    }
</table>
@if (TempData.ContainsKey("SaveRemove"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveRemove"]
    </div>
}

<p>
    @Html.ActionLink("Back to Card List", "Index") |
    @Html.ActionLink("Delete Card", "Delete", new { id = Model.Id })
</p>
