@model CardsAndDecks.Models.CardDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.HiddenFor(model => model.TemplateId)
<div>
    <h4>CardDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemplateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemplateName)
        </dd>

    </dl>
</div>

<table class="table">
    @foreach (var item in Model.PropertyList)
    {
        <tr>
            <td>
                @Html.DisplayFor(c => item.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(c => item.Value)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "CardProperty", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
<h4>Decks</h4>
<p>
    @Html.ActionLink("Add a Deck", "Create", "Assignment", new { id = Model.Id, isCard = true }, null)
</p>
<table class="table">
    @foreach (var item in Model.AssignmentList)
    {
        <tr>
            <td>
                @Html.DisplayFor(c => item.Deck.Name)
            </td>
            <td>
                @Html.ActionLink("Remove", "Delete", "Assignment", new { assignmentId = item.Id, fromCard = true, objId = Model.Id }, null)
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</p>
