@model CardsAndDecks.Models.CardPropEdit

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewData["CardName"]</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CardName")
    @Html.Hidden("PropertyName")

    <div class="form-horizontal">
        <h4>Editing @ViewData["PropertyName"]</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PropertyId)
        @Html.HiddenFor(model => model.CardId)

        <div class="form-group">
            @Html.Label("PropertyName", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Card Details", "Details", "Card", new { id = Model.CardId}, null )
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
